form {
    border: 1px solid #545454;
    background: #f0f0f0;
    border-radius: 6px;
    padding: 40px;
    margin-top: 20px;

    input {
        padding: 5px 20px;
        width: 100%;
        line-height: 16px;
        margin: 10px 0;
    }

    button{
        padding: 5px 20px;
    }
}
